// colors
$white: rgba(255, 255, 255);
$white-056: rgba($white, 0.56);
$white-096: rgba($white, 0.96);
$white-010: rgba($white, 0.1);
$white-006: rgba($white, 0.06);

$black: rgba(0, 0, 0);
$black-040: rgba($black, 0.4);
$black-030: rgba($black, 0.30);


$low-black: rgba(8, 8, 8);
$low-black-096: rgba($black, 0.96);

$azure: rgba(66, 227, 180);
$grey: rgba(137, 145, 153, 1);

$green: rgba(31, 153, 55, 1);
$yellow: rgba(238, 217, 24, 1);
$red: rgba(209, 13, 13, 1);

$grey: rgba(150, 162, 176);

// border-radius
$border-radius-default: 16px;
